<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      https://api.github.com/
    </ion-title>
  </ion-toolbar>
</ion-header>



    <ion-content [fullscreen]="true">
      <ion-item>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-label>Type</ion-label>
            <ion-input formControlName="usuario" placeholder="Adicione um usuário" label="Usuário">
            </ion-input>
            <ion-button type="submit">Search</ion-button>
        </form>
      </ion-item>
      <ion-item>
          <h1>
              <ion-text color="primary">{{nome}}</ion-text>
          </h1>
      </ion-item>
    </ion-content>
