<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Github
    </ion-title>
  </ion-toolbar>
</ion-header>
    <ion-content [fullscreen]="true">
      <ion-item>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <ion-input class="ion-padding" formControlName="usuario" placeholder="Adicione um usuário" label="Usuário">
            </ion-input>
            <ion-button  type="submit">Search</ion-button>
        </form>
      </ion-item>
      <ion-item>
      </ion-item>
      <ion-item *ngIf="activity" [routerLink]="['../repositories', activity.login]">
        <ion-avatar slot="start">
          <img [src]="activity.avatar_url" />
        </ion-avatar>
      <ion-label>
          <h1>{{activity.name}}</h1>
          <h2>{{activity.bio}}</h2>
      </ion-label>
      </ion-item>
    </ion-content>
